body {
    font-family: 'Quicksand', sans-serif !important;
}

.jumbotron {
    background-color: #f3f9fe;
}
a {
    color: black;
}

.card-img-top {
    width: 100%;
    object-fit:cover;
}

.row-margin {
    margin: 20px;
}

.d-inline {
    padding:20px !important;
}

