body {
    font-family: 'Quicksand', sans-serif !important;
}

.jumbotron {
    background-color: #f3f9fe;
}
a {
    color: black;
}

.card-header {
    font-style: bold;
}
.card-img-top {
    width: 100%;
    object-fit:cover;
}

.oversized-img {
    width:200px;
    height:auto;
    display:block;

}


.badge img {
    width:23px;
    height:23px;
}

.row-margin {
    margin: 20px;
}

.d-inline {
    padding:20px !important;
}

footer {
    background-color: #f3f9fe;
}



