<div class="jumbotron jumbotron-fluid vertical-center">
    <div class="container text-center">
        <h1 class="display-4">Daniel Wang</h1>
        <div class="d-inline">
            <a href="./index.html" {% if page.url == "/" %}style="text-decoration: underline;"{% endif %}>About</a>
        </div>
        <div class="d-inline">
            <a href="./blog.html" {% if page.url == "/blog.html" %}style="text-decoration: underline;"{% endif %}>Blog</a>
        </div>
        <div class="d-inline" style="font-size:1em;">
            <a class="icon" href="https://github.com/dw405">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="d-inline" style="font-size:1em;">
            <a class="icon" href="https://www.linkedin.com/in/daniel-wang405/">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <div class="d-inline" style="font-size:1em;">
            <a class="icon" href="https://drive.google.com/file/d/1F3Z5SwpDBvHZ5fojTncZpZxQo2xStpb0/view?usp=sharing">
                <i class="fa fa-file-alt"></i>
            </a>
        </div>
    </div>
</div>